<div class='event-details'>
  <h1>{{event.name}}</h1>
  <div class='event_image'>
    <img class='event-image' src='{{event.image}}' alt='{{event.name}} image' />
  </div>

  <p><strong>Name:</strong> {{event.name}}</p>
  <p><strong>Description:</strong> {{event.description}}</p>
  <p><strong>Date:</strong> {{event.date_scheduled}}</p>
  <p><strong>Organizer:</strong> {{event.user.user_name}}</p>
  <p><strong>Contact:</strong> {{event.user.email}}</p>
  {{#if isOwner}}
    <a class='edit-button' href='/events/edit/{{event.id}}'>Edit Event</a>
  {{/if}}
  <a class='comment-button' href='/events/comment/{{event.id}}'>Comment Event</a>
</div>
{{! edit event button
 }}
<script> src="/js/editevent.js"</script>